@font-face {
    font-family: scifi;
    src: url(./fonts/Orbitron/Orbitron-VariableFont_wght.ttf);
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: scifi;
    
}

#mainBackground{
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    background-image: url(./images/City.jpeg);
    background-position: center;
    background-size: cover;
    filter: brightness(70%);
}


#weatherContent{
    display: flex;
    height: 57vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 5vh;
    margin-bottom: 2vh;
}


#general{
    display: flex;
    width: 17vw;
    flex-direction: column;
}

#location{
    font-size: 24px;
    margin-bottom: 7vh;
}

#genCondition{
    font-size: 26px;
    font-weight: 500;
}

#genTemp{
    font-size: 45px;
    font-weight: 700;
}

#units{
    appearance: none;
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
    font-family: scifi;
    margin-bottom: 15px;
    margin-top: 5px;
    width: 8vw;
    text-align: left;
    padding: 0;
}

#genIcon{
    width: auto;
    height: 20vh;
    filter: invert(100%) sepia(9%) saturate(25%) hue-rotate(333deg) brightness(106%) contrast(100%);
    margin-bottom: 15px;
}

#searchBar{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid white;
}


#searchLocation{
    appearance: none;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-weight: 700;
}

#searchLocation::placeholder{
    color: white;
    opacity: 1;
}

#searchButton{
    width: 30px;
    height: 30px;
    appearance: none;
    background-color: transparent;
    outline: none;
    border:none;
}
#searchIcon{
    height: 5vh;
    filter: invert(100%) sepia(9%) saturate(25%) hue-rotate(333deg) brightness(106%) contrast(100%);
}

#time{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    width: 65vw;
}

#specifics{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 17vw;
    gap: 30px;
}

#feelsLike,#humidity,#rain,#wind{
    display: flex;
    gap: 8px;
}

.specTemp,.specHumid,.specRain,.specWind{
    margin-top: 5px;
    font-size: 22px;
    font-weight: 700;
}

.specIcon{
    height: 7vh;
    filter: invert(100%) sepia(9%) saturate(25%) hue-rotate(333deg) brightness(106%) contrast(100%);
}



#weatherForecast{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);  
    padding-left: 5vw;
    padding-right: 5vw;
    
}

.weekday{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.day{
    font-size: 24px;
    font-weight: 700;
}

.highTemp{
    font-size: 26px;
}

.lowTemp{
    font-size: 16px;
}

.weekIcon{
    height: 10vh;
    width: auto;
    filter: invert(100%) sepia(9%) saturate(25%) hue-rotate(333deg) brightness(106%) contrast(100%);
}
